extends layout

block content
  h1= title
  form(method='POST', action='/login')
    input(type='text', class='input', name='username', placeholder='username')
    br
    input(type='password', class='input', name='password', placeholder='password')
    br
    input(type='submit', class='input', value='Login')
    p= error
  a(href='/', class='button back-button')
    img(src='/images/back.png', alt='Go back')
