extends layout

block content
  h1= title
  h5 Current amount: #{dabloons} Dabloons
  form(method="POST", action="/transfer")
    input(type="text", class="input", name="username", placeholder="Username")
    br
    input(type="number", class="input", name="amount", placeholder="Amount")
    br
    input(type="submit", class="input", value="Send")
    p= error
  a(href='/bank', class='button back-button')
    img(src='/images/back.png', alt='Go back')
